/* ---------GENERAL CSS---- */
body{
  margin: 0;
  float: left;
  width: 100%;
  color: teal;

}
header,
footer {
  width: 100%;
  margin: 0;
  float: left;
  background-color: #efefef;
  font-size: 24px;
}

section {
  width: 100%;
  float: left;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  border-bottom: 5px solid #bef4f2;
}
h2{
  font-weight: 100;
  padding-top:5vh;
  font-size: 30px;
  text-align: center;
  margin: 0%;
}
h1{
  margin: 10px 35%;
  font-size: 30px;
  border-bottom: 2px solid #bef4f2;
  text-align: center;
}

/* Header */
header h1 {
  width: 30%;
  font-size: 40px;
  text-align: center;
  margin: 1% 1%;
  float: left;
}

header nav {
  width: 60%;
  float: left;
  display: block;
}

header ul {
  margin-top: 30px;
  padding: 0;
  text-align: right;
}

header li {
  margin-left: 5%;
  display: inline-block;
}
 i.fas{
  display: none;
}
/* --------------TOP SECTION------------- */
.topSection{
  padding-top:5vh;
  overflow:hidden;
}
/* ------ Main Image ------- */

.mainImage img {
  width: 80%;
  height: 100%;
  margin: 2% 10%;
  border-radius: 5%;
}

/* ------------- About ------ */

#about,
.mainImage {
  width: 50%;
  height: 600px;
}

#about p {
  font-size: 2em;
  width: 75%;
  margin: 5% 10%;
  text-align: center;
  line-height: 150%;
  color: black;
}

/*---------- Work ----------- */
.work {
  width: 45%;
  margin: 20px;
  height: 240px;
  float: left;
}
#workS{

}
.corporate{
  background-image: url('../img/TE.jpg');
}
.creative{
  background-image: url('../img/kahleo.png');
}
.creative,.corporate{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.hoverTrans{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  visibility: hidden;
}
.work:hover .hoverTrans{
  visibility: visible;
}

.work p {
  width: 100%;
  height: 45%;
  text-align: center;
  font-size: 50px;
  color: white;
  margin: 0;
  padding-top:15%;
  visibility: hidden;
}
.work a:hover p{
  visibility: visible;
}
.work a{
  width: 100%;
  height: 100%;
}

.work iframe {
  margin-left: 2%;
  height: 200px;
}

.work img{
  width: 85%;
  height: 100%;
  margin-left: 7.5%;
  border-radius: 5%;
  position: static;
  display: none;
}


/*--------- Contact ---------*/
#contact a{
  border-bottom: none;
}

#contact i {
  font-size: 70px;
  color: teal;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom:5vh;
}
#contact{

}


input {
  width: 65%;
  height: 50px;
  margin: 2% 17.5%;
  font-size: 16px;
  border-left: none;
  border-right: none;
  border-top: none;
}

textarea {
  width: 65%;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom:none;

}

button {
  width: 65.5%;
  height: 30px;
  margin: 1% 17.5%;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  background: none;
  margin-bottom:5vh;

}


/*------- Footer --------*/

#companyLogo section{
  height: 250px;
  margin: 1% 0 1% 26%;
  width: 50%;
}
.fadeImg{
  /* height: inherit; */
  width: 100%;

}
.fadeImg {
  height: inherit;

}
.left{
  /* margin-left: 25%; */
}
.left2{
  /* margin-left:15%; */
}
.hide{
  display: none;
}


/*----------------- Responsiveness ------------------*/
@media only screen and (max-width: 986px) {
  header nav {
    display: none;
  }
  #about p {
    font-size: 17px;
  }
  .left{
    margin-left:15%;
  }
}
@media (min-width: 668px) and (max-width: 867px) {
  .work{
    width: 100%;
    margin: 20px;
    height: 240px;
    float: left;
  }
  #about, .mainImage {
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
  }
  .mainImage img {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }
  header nav {
    display: none;
  }
  #about p {
    font-size: 17px;
  }
  .left{
    margin-left:15%;
  }
  .topSection{
    padding-top:0vh;
  }

}
@media (min-width: 375px) and (max-width: 667px){
  header nav {
    display: none;
  }
  header h1{
    width: 100%;
  }
  #contact{
  }
  #about p {
    font-size: 1em;
    margin: 0 auto;
    width: 80%;
    padding-top: 2vh;

  }
  .left{
    margin-left:15%;
  }
  .mainImage img {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }
  
  #about, .mainImage {
    width: 100%;
    height: 100%;
  }
  .work{
    width: 95%;
    margin: 3%;
    height: 240px;
    float: left;
  }
  .topSection{
    padding-top: 0vh;
  }
  .work p{
    visibility: visible;
  }
}