body{
  margin: 0;
  float: left;
  width: 100%;
  color: teal
}
header,
footer {
  width: 100%;
  margin: 0;
  float: left;
  background-color: #efefef;
  font-size: 24px;
}
header h2 {
  width: 30%;
  font-size: 40px;
  text-align: center;
  margin: 1% 1%;
  float: left;
}

header nav {
  width: 60%;
  float: left;
  display: block;
}

header ul {
  margin-top: 20px;
  padding: 0;
  text-align: right;
}

header li {
  margin-left: 5%;
  display: inline-block;
}
#header i{
  display: none;
}
h1{
  width: 32%;
  float:left;
  text-align:center;
  font-size: 1.5em;

}
h2{
  font-size: 30px;
  text-align:center;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  border-bottom: 5px solid #bef4f2;
}
i.fas{
 display: none;
}
iframe{
  width: 70%;
  height: 250px;
  margin: 20px 15%;
  float: left;
}
#container{
  float: left;
  width:100%;
}
#container section{
  width: 50%;
  float: left;
}
section section p{
  text-align: center;
  font-size: 25px;
}
@media only screen and (max-width: 986px) {
  header nav {
    display:none;
}
h2{
  padding-top:5vh;
}
}

@media (min-width: 668px) and (max-width: 867px){

}
@media (min-width: 375px) and (max-width: 667px){
  header nav {
    display: none;
  }
  header li {
    margin-left: 5%;
    display: block;
  }
  #container section{
    width: 100%;
  }
  h1{
    margin: 1% 1%;
    width: 55%;
    text-align: left;
    font-size: 1em;
  }
  h2{
    margin: 0;
    float: left;
    width: 100%;
    font-size: 30px;
    padding-top: 1vh;
    text-align: center;
    
  }
  header, footer{
    font-size:2em;
  }
}